/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .positive_per{
    color: #12B369;
    font-size: 14px;
    font-weight: 500;
    font-size: 10px;

  }

  .positive_per::before{
    content: "\2191";
    color: #12B369;
    font-size: 10px;

  }

  .negitive_per{
    color: #E94237;
    font-size: 10px;
    font-weight: 500;
  }

  .negitive_per::before{
    content: "\2193";
    color: #E94237;
    font-size: 10px;
  }
  /* .new {
    @apply text-sm text-[#047A48] capitalize bg-[#ECFEF3] rounded-2xl py-[2px] pr-[10px] pl-[8px]
  } */

  .status{
    text-transform: capitalize;
    font-size: 12px;
    border-radius: 16px;
    padding: 2px 10px 2px 8px;
    text-align: center;

  }

  .status-new{
    color: #047A48;
    background-color: #ECFEF3;
  }

  .status-passed{
    color: #166846;
    background-color: #d6e2db;
  }

  .status-ongoing{
    color: #7a5504;
    background-color: #ECFEF3;
  }

  .status-onboarding{
   color: #036AA3;
   background-color: #F0F9FF;
  }

  .status-expired{
   color: #B42419;
   background-color: #F6EBEE;
  }

  .status-in_review{
    color: #db9705;
   background-color: #F6EBEE;
  }

  .status-not_passed{
    color: #C43209;
    background-color: #FFF6ED;
  }
  
  .not_passed::before,
  .status-not_passed::before{
    content: '.';
    color: #C43209;
    font-size: 32px;
    align-items: center;
    vertical-align: super;

  }
  .in_review::before,
  .status-in_review::before{
    content: '.';
    color: #db9705;
    font-size: 32px;
    align-items: center;
    vertical-align: super;

  }
   .expired::before,
  .status-expired::before{
    content: '.';
    color: #B42419;
    font-size: 32px;
    align-items: center;
    vertical-align: super;

  }

  .passed::before,
  .status-passed::before{
    content: '.';
    color: #166846;
    font-size: 32px;
    align-items: center;
    vertical-align: super;

  }
   
  .new::before,
  .status-new::before{
    content: ".";
    color: #047A48;
    font-size: 32px;
    align-items: center;
    vertical-align: super;
    padding-right: 2px;
    /* float: left; */
  }
  
  .ongoing::before,
  .status-ongoing::before{
    content: '.';
    color: #7a5504;
    font-size: 32px;
    align-items: center;
    vertical-align: super;

  }

  .onboarding::before,
  .status-onboarding::before{
    content: '.';
    color: #036AA3;
    font-size: 32px;
    align-items: center;
    vertical-align: super;
  }

  .collapsible{
    animation: collaps 0.3s ease-in alternate-reverse forwards;
  }

  .expandable{
    animation: expand 0.3s ease-in alternate-reverse backwards;
  }

  @keyframes expand {
    100% {
     width: 24px;
    }
    75%{
      width: 5%;
    }
    50% {
      width: 10%;
    }
    25%{
      width: 15%;
    }

    0%{
      width: 20%;
    }
  }

  @keyframes collaps {
    0% {
     width: 24px;
    }
    25%{
      width: 5%;
    }
    50% {
      width: 10%;
    }
    75%{
      width: 15%;
    }
    100%{
      width: 20%;
    }
  }
 .export-to-csv{
  border: 1px solid #D0D5DD;
  text-align: center;
 }

  .export-to-csv::before{
   content: '\27A4';
   background:#ddd;
  }